[submodule "linux"]
	path = linux
	url = https://github.com/analogdevicesinc/linux.git
	branch = xlnx/release/linux-v6.12.y-2026r1
[submodule "hdl"]
	path = hdl
	url = https://github.com/analogdevicesinc/hdl.git
	branch = hdl_2026_r1
[submodule "br2-external"]
	path = br2-external
	url = https://github.com/analogdevicesinc/br2-external.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/analogdevicesinc/u-boot.git
	branch = adi-xlnx-u-boot-2025.1-y-pluto-m2k
