##
# Copyright (c) 2025 Analog Devices, Inc. All Rights Reserved.
# This software is proprietary and confidential to Analog Devices, Inc. and its licensors.
##

name: 'Build M2k'

description:
  'Workflow to build M2k and publish artifacts to cloudsmith'

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: local-runner
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # TO DO: figure it out how to implement it for opensource
      # - name: Generate Cloudsmith OIDC Token
      #   uses: cloudsmith-io/cloudsmith-cli-action@v1.0.3
      # .
      # .
      # .
      - name: Build
        shell: sh
        run: |
          echo "Extracting latest vivado version ... "
          echo "VIVADO_VERSION=$(cat Makefile | grep "^VIVADO_VERSION")" >> $GITHUB_ENV
          echo "Building m2k ..."
        env:
          # TO DO: figure it out how to use the paths on opensource
          VIVADO_TOOLCHAIN_PATH:
          VIVADO_SETTINGS:
          CROSS_COMPILE:
      - name: Publish to Cloudsmith
        shell: sh
        run: |
          echo "Publishing to cloudsmith ..."
